.home {
    padding: 50px;
    text-align: center;
  }
  
  .home button {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .home button:hover {
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    transform: scale(1.1);
  }
  